body {
  min-height: 500px;
  background-color: #C0C0C0;
}

.navbar-static-top {
  margin-bottom: 19px;
  background-color: #34A273;
  border-color: #308063;
}

.navbar-default .navbar-toggle {
	background-color: #34A273;
    border-color: #308063;
}

.navbar-default .navbar-toggle:hover {
	color: #FFF;
	background-color: #308063;
    border-color: #22624B;
}

.navbar-default .navbar-toggle:active {
	color: #FFF;
	background-color: #308063;
    border-color: #22624B;
}

.navbar-default .navbar-brand {
	color: #FFF;
}

.navbar-default .navbar-brand:hover {
	color: #FFF;
}

.navbar-default .navbar-text {
    color: #FFF;
}

.navbar-default .navbar-nav > li > a {
	color: #FFF;	
}

.navbar-default .navbar-nav > li > a:hover {
	color: #22624B;	
}

.btn-primary {
    color: #FFF;
    background-color: #34A273;
    border-color: #308063;
}

.btn-primary:hover {
    color: #FFF;
    background-color: #308063;
    border-color: #22624B;
}

.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: none;
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: #34A273;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    border-top: 1px solid #308063;
}

.progress {
    height: 20px;
    margin-bottom: 0px;
    overflow: hidden;
    background-color: #F5F5F5;
    border-radius: 4px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1) inset;
}

.progress-bar {
    float: left;
    width: 0px;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #FFF;
    text-align: center;
    background-color: #308063;
    box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.15) inset;
    transition: width 0.6s ease 0s;
}

.sensor-box
{
    overflow: hidden;
}
