{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block head_title %}Witaj | {{ block.super }}{% endblock %}

<style>
{% block style %}
.jumbotron {
	background-color:#34A273;
	color: #FFF;
}
{% endblock %}
</style>


{% block content %}
<div class="jumbotron">
	<div class="container">
 		<div class="row">
 			<div class='col-sm-8'>
 			<h1>Projekt inteligentnego domu</h1><br><br>
 			<p>Projekt ma na celu wykorzystanie różnorodnych czujników dostępnych dla urządzenia Raspberry Pi do stworzenia aplikacji zarządzającej inteligentnym domem.</p>
 			</div>
 			<div class='col-sm-4'>
 			</div>
 		</div>
 	</div>
 </div>
{% endblock %}
