{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block head_title %}Czujniki | {{ block.super }}{% endblock %}



{% block content %}

<div class="row">
    <div id="id_msg" class="col-sm-8 col-sm-offset-2">
        
    </div>
</div>

<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <p class="lead">Zarejestrowane czujniki:</p>
      <p class="text-info">Czujnik ruchu: <span id="movement-sensor"></span></p>
      <p class="text-info">Czujnik gazów łatwopalnych: <span id="gases-sensor"></span></p>
      <div class="sensor-box">
       <p class="text-info" style="float: left; padding-right: 10px;">Czujnik światła: </p>
       <p class="text-info" style="float: left;"><span id="light-sensor"><br><br></span></p>
      </div>
      <div class="sensor-box">
       <p class="text-info" style="float: left; padding-right: 10px;">Czujniki temperatury: </p>
       <p class="text-info" style="float: left;"><span id="temp-sensors"></span></p>
      </div>
    </div>
</div>

{% endblock %}

{% block js %}

<script src="{% static 'js/sensors.js' %}"></script>

{% endblock %}