{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_title %}Ustawienia | {{ block.super }}{% endblock %}


{% block content %}

<div class="row">
	<div class="col-sm-8 col-sm-offset-2">
		<p class="lead">Nothing here so far!</p>
    </div>
</div>

{% endblock %}